.btn-1 {
	color: black; 
	background-color: white; 
	font-size: 15px; 
	border-radius: 5px;
}

.btn-1:hover {
	background-color: orange;
}

.btn-2 {
	color: white; 
	background-color: black; 
	border-radius: 5px; 
	font-size: 15px;
}

.btn-2:hover {
	background-color: white;
	color: black;
}

/*Media Quary for Desktop Computers*/

@media(max-width:750px){
	width: 100%;
	.column{
	width: 800px;
}
}

/*Media Quary for Tablets*/

@media(max-width: 650px){
	width: 100%;
	.column{
	width: 700px;
}
	}

/*Media Quary for Mobile Phones*/

@media(min-width: 300px){
	width: 100%;
	.column{
	width:450px;
}
}


